.cards {
    display: flex;
    flex-wrap: wrap;
 }

.pokemon-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 1 calc(25% - 1em);

    box-sizing: border-box;
    margin: 0.5rem;
  }
  
  .pokemon-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .pokemon-card .image {
    width: 100%;
    height: 120px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pokemon-card .image img {
    width: 96px;
    height: 96px;
  }
  
  /* Add some padding inside the card container */
  .pokemon-card .container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
  }